<div class="sessions-card p-4">
  <div class="sessions-card-header mb-4">
    <h2><%= @session.name %></h2>
  </div> <!-- end of sessions-card-header -->

  <div class="sessions-card-container d-flex flex-row">

    <div class="sessions-card-dates col-8 p-2 d-flex flex-column align-items-center">
      <div class="sessions-start-date mb-2 d-flex justify-content-between">
        <h1 class="mr-2"><%= @session.start_date.strftime("%d") %></h1>
        <div>
          <p><%= @session.start_date.strftime("%b") %></p>
          <h5><%= @session.start_date.strftime("%Y") %></h5>
        </div>
      </div> <!-- end of sessions-start-date -->
      <i class="fas fa-arrow-down"></i>
      <div class="sessions-end-date mt-2 d-flex justify-content-between">
        <h1 class="mr-2"><%= @session.end_date.strftime("%d") %></h1>
        <div>
          <p><%= @session.end_date.strftime("%b") %></p>
          <h5><%= @session.end_date.strftime("%Y") %></h5>
        </div>
      </div> <!-- end of sessions-end-date -->
    </div> <!-- end of sessions-card-dates -->

    <div class="sessions-card-trainees col-4 p-0">
      <h5 class="mb-2">Trainees (<%= @trainees.size %>)</h5>
      <ul>
        <% @trainees.each do |trainee| %>
          <li class="trainee-item"><%= trainee.trainee.name %></li>
        <% end %>
      </ul>
    </div> <!-- end of sessions-card-trainees -->

  </div> <!-- end of sessions-card-container -->

  <div class="sessions-footer d-flex flex-row justify-content-between mt-4">
    <%= link_to 'Back', sessions_path, class: 'btn btn-sm btn-outline-info' %>
    <%= link_to 'Edit Session', edit_session_path(@session), class: 'btn btn-sm btn-outline-warning' %>
  </div> <!-- end of sessions-footer -->
</div> <!-- end of sessions-card -->
