<%= simple_form_for @meeting, html: { class: 'w-100' } do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :start_date, required: true, order: %i(day month year) %>
  <%= f.input :end_date, required: true, order: %i(day month year) %>
  <div class="d-flex flex-row justify-content-between">
    <%= link_to 'Back', :back, class: 'btn btn-sm btn-outline-primary' %>
    <% if action_name == 'edit' %>
      <%= link_to 'Delete Session', meeting_path(@meeting), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
    <%= f.submit class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
