<div class="main-card p-4">
  <div class="main-card-header mb-4">
    <h2>Forgot your password?</h2>
  </div> <!-- end of main-card-header -->

  <div class="main-card-container">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions d-flex flex-row-reverse justify-content-between">
        <%= f.submit 'Send me reset password instructions', class: 'btn btn-sm btn-primary' %>
        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div> <!-- end of main-card-container -->
</div> <!-- end of main-card -->
